<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Carrinho</title>
</head>
<body>

<h1>🧺 Seu carrinho</h1>

{% if carrinho %}
    <ul>
        {% for p in carrinho %}
            <li>{{ p.nome }} — R$ {{ p.preco }}</li>
        {% endfor %}
    </ul>

    <p><strong>Total:</strong> R$ {{ "%.2f"|format(total) }}</p>

    <a href="/finalizar">Finalizar no WhatsApp</a>
{% else %}
    <p>Seu carrinho está vazio.</p>
{% endif %}

<br>
<a href="/">Voltar para loja</a>

</body>
</html>
